html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
 }
.red_color { 
     color: red; 
}

.label{
    font-size: 1rem;
    display: block;
}
.main_box{
    width: 700px;
    height: 2000px;
    background-color: #F9F9F9;
    margin: auto;
}

input{
    width: 100%;
    font-size: 1.3rem;
}
#select{
    width: 100%;
    font-size: 1.3rem;
}

.bolt{
 padding-left: 7%;
 padding-top: 4%;
}
.information{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.select{
   width: 100%;
   padding: 6px 3px;
   font-size: 1.1rem;
}
.row1_left{
    width: 42%;
    font-size: 1.1rem;
    font-weight: 600;
}

.row1_rigth{
    width: 42%;
    font-size: 1.1rem;
    font-weight: 600;
    
}
.row2_left{
    width: 42%;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 47.5%;
}
.row3_left{
    width: 42%;
    font-size: 1.1rem;
    font-weight: 600;
    display:none;
}
.eidate{
    background-repeat: no-repeat;
    background-position: right;
    background-image:url(../img/Vector.png) ;
}
#phone{
    width: 100%;
    font-size: 1.3rem;
}
#email{
    width: 100%;
    font-size: 1.3rem;
}
.blue_color{
    color: blue;
}

.information_1{
padding-top: 2%;
padding-left: 5.2%;
width: 100%;
}

.texttt_1{
    font-size: .9rem;
    font-weight: 600;  
}
.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 3% 4%;
    font-size: 1.1rem;
    font-weight: 600;
 }
 .checkbox2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0px 0px;
         
    }
 .checkbox2 input {
    width: 5%;
    transform: scale(1.4);
    display: block;
    margin: 3px 3px 3px 3px;
   }
 
 .checkbox input {
    width: 5%;
    cursor: pointer;
    transform: scale(1.4);
 }
 .checkbox3 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0% 0%;
    font-size: 1.1rem;
    font-weight: 600;
 }

 .checkbox3 input {
    width: 6%;
    transform: scale(.9);
    display: block;
    margin: 3px 3px 3px 3px;

    
    }



 hr{
    border: 1px solid #D1D1D1;
    width: 89%;
    margin: 2% auto;
 } 

 .loop{
    background-image: url(../img/loop.svg);
    background-repeat: no-repeat;
    background-position: right;
    }  
 .button_box {
    margin-left: 86%;
    margin-top: 3%;
    padding-bottom: 6%;
    }
 .button {
    width: 67%;
    cursor: pointer;
    background-color: #0050D8;
    color: white;
    border: none;
    border-radius: 4px;
 }