body{
    font-family: 'Inika', serif;
    font-weight: 700;
}
.h1{
    margin: 40px 0;
    font-size: 40px;
    font-weight: 700;
        }

.line{
    border-bottom: 5px solid #3E45E8;
    width: 620px;
    padding-top:  20px; ;
}
.header{
    max-height: 110px;
    min-height: 50px;
    text-align: center;
    color:#3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
    padding: 20px 0;
}
.header-span{color:yellow;
    }

.banner{
    box-sizing: border-box;
    padding-top: 84px;
    padding-left: 68px;
    height: 439px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/image_1.png");
}

.content{
    box-sizing: border-box;
    padding-top: 2%;
    padding-left: 30px;
    color: white ;
    width: 74%;
    font-size: 34px;
    background-repeat: no-repeat;
    height: 272px;
    background-image:url("../img/flag.png");
}

.main{
    padding: 0 80px;
}

.card{
    border: 1px solid black;
    width: 30%;
    color: #1E8DF2;
    display: inline-block;
    vertical-align: top;
    border-radius: 33px;
    box-shadow: 0px 4px 57px 3px rgb(0 0 0 / 25%);
}

.card_image{
    width: 100%;
}

.card_margin{
   margin: 0% 4.3%; 
}

.card_title{
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}

.card_subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E; 
    padding: 0px 10px 40px;
    box-sizing: border-box;
}

.main_2{
    text-align: center;
    }
.h_2{
    margin: 20px 0;
    font-size: 40px;
    font-weight: 700;
}

.line_2{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 0px auto

}

.mapUA{
    padding-top: 41px;

}

.buttom{
    text-align: center;
}

.link{
    background-color: #2A61F0;
    border-style: solid;
    border-color: #2A61F0;
    width: 591px;
    height: 121px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 64px;
    font-weight: 400px;
}

.text_buttom{
    color: white;
    display:inline-block  ;
}

.banner_finish{
    height: 320px;
    margin: 10px 0px 0px 0px;
    background-size: 100%;
    background-image: url("../img/Rectangle\ 7.png");
}
.text_baner{
    font-size: 48px;
    font-weight: 400px;
    text-align: center;
}
.mailto{
    font-size: 36px;
    font-weight: 400px;
    text-align: center;
}
.tel{
    font-size: 36px;
    font-weight: 400px;
    text-align: center;
}
.baner{
    text-align: center;
}
.baner1{
    display: inline-block;
}