body{
    margin: 0%;
    background-color: #E5E5E5;
    font-family: 'PT Sans';
}

.header{
    background-color:#202846;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:'PT Sans', sans-serif; 
    font-size: 22px;
    font-weight: 700 bold;
    padding: 1%;
}

li.menu_txt1>a{
    color: #E5E5E5;
    text-decoration: none;
    border-right: 3px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    margin: 10px;
}

.menu{
    display: flex;
    list-style: none;
}

.globus{
    background-color:#202846;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white; 
    text-decoration: none;  
}

.announce{
 background-color: #C6C6DC; 
 position: relative; 
 height: 10vh;
}

.announce_txt{
  color: black;
  position: relative;
  left: 10vw;
  top: 3vh;
  box-sizing: border-box;
  font-size: 48px;
  font-family:'PT Sans', sans-serif;
  font-style: italic;
 }

 .card1{
   width: 80%;
   margin: 0% auto;
   background-color:#BDBDC6;
   position: relative;
   top: 10vh;
   box-sizing: border-box;
   display: flex;   
 }

 .card2{
    width: 80%;
    margin: 0% auto;
    background-color:#BDBDC6;
    position: relative;
    top: 20vh;
    box-sizing: border-box;
    display: flex;       
  }

  .card3{
    width: 80%;
    margin: 0% auto;
    background-color:#BDBDC6;
    position: relative;
    top: 30vh;
    box-sizing: border-box;
    display: flex;       
  }

  .card4{
    width: 80%;
    margin: 0% auto;
    background-color:#BDBDC6;
    position: relative;
    top: 40vh;
    box-sizing: border-box;
    display: flex;       
  }


 .foto{
   padding:6% 2% 6% 7%;
   display: inline-block;
 }

 .content{
max-width: 60%;
box-sizing: border-box;
padding: 4% 5% 5% 6%;
 }

 .name{
    display: inline-block;
    font-style: italic;
    font-size: 36px;
    padding-left: 0%;
    font-weight: 700;
    color:#353C57;
 }

 .line{
     border: 2px solid  #FFFFFF ;
 }

 .text{
     height: 75%;
     width: 100%;
     font-weight: 400;
     font-size: 22px;
     background-color: #D7D7DD;;
     box-sizing: border-box;
     padding: 7% 8%;
     margin: 1% 5% 7% 0%;
     color: #202846;
     text-align: center;
 }

.star{
  position: absolute;
  left: 95%;
  top: 4%;
   } 

.svg:hover path{
  fill:yellow
 }

.button{
     position: absolute;
     left: 91%;
     top: 82%;
     border: 1px solid #202846;
     height: 50px;
     width: 200px;
     background-color: #202846;
     color: white;
     font-family:'PT Sans', sans-serif;
     font-size: 24px;
     text-align: center;
     padding-top: 10px;
     border-radius: 50px;
}
 .footer{
    background-color:#202846;
    position: relative;
    top: 50vh;
    font-family:PT+Sans;
    color: white;
    font-style: italic;
    padding: 1.5%;
    font-size: 36px;
  }
