html {
    font-size: 10px;
}

body,
ul {
    margin: 0px;
    padding: 0px;
    background-color: #212529;
}

.header {
    justify-content: space-between;
    /* justify-content: space-around; не подошел */
    display: flex;
    align-items: center;
    padding: 0px 48px;

}

.nav {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

li.nav-item>a,
.header-btn {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 1.6rem;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item>a:hover {
    color: #FFB742;
}

li.nav-item>a:active {
    font-size: 3.2rem;
}

.header-btn {
    background-color: #FFB742;
    color: #212529;
    padding: 12px 26px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
}

.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    text-transform: capitalize;
    margin: 15%;
}

.name {
    height: 51px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
}

.kartik {
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    color: #FFB742;
}


.line {
    size: 0rem solid #FFB742;
}

.designer {
    height: 87px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
}

.love {
    height: 51px;
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.avatar1 {
    height: 222.73px;
}

.box {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.box_1 {
    background-color: #292B2E;
    height: 120px;
    width: 416px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_box1 {
    text-align: center;
}

.numb_5 {
    color: #FFB742;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
}

.experience {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}

.symbol_1 {
    color: white;
    font-size: 1.6rem;
}


.box_2 {
    background-color: #FFB742;
    height: 120px;
    width: 416px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}

.text_box2 {
    text-align: center;
}

.emblem_2 {}

.numb_100 {
    color: #000000;
    font-size: 3.2rem;
    font-family: 'Inter', sans-serif;
}

.symbol_2 {
    color: #000000;
    font-size: 1.6rem;
}

.projects {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

.box_3 {
    background-color: #292B2E;
    height: 120px;
    width: 416px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.text_box3 {
    text-align: center
}

.emblem_3 {}

.numb_50 {
    color: #FFB742;
    font-size: 3.2rem;
    font-family: 'Inter', sans-serif;
}

.clients {
    color: white;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;

}

.card_me {
    padding: 10% 0%;
    display: flex;
}

.foto {}


.about_me {
    margin: 6% 3% 0% 10%;

}

.whoiam_btn {
    font-size: 2rem;
    color: #FFB742;
    background-color: rgb(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 128px;
    padding: 6px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.headline {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    padding-bottom: 4%;
}

.text_about {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    padding: 0% 0% 8% 0%;

}

.works {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav1 {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

li.nav-item1>a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 1.6rem;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item1>a:hover {
    color: #212529;
    background-color: #FFB742;
    border-radius: 10px;
}

li.nav1-item>a:active {
    font-size: 3.2rem;
}

.baner123 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4%;
    box-sizing: border-box;
}

.baner456 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4%;
    box-sizing: border-box;

}

.footer {
    background-color: #1C1C1C;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 0 0;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #7B7B7B;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}

.kartik_b {
    font-family: 'Poppins', sans-serif;
    color: #FFB742;
    font-size: 32px;
    font-weight: 700;
}

.position {
    padding-top: 30px;
}

.head_2 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.home {
    padding-top: 30px;
}

.head_3 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.insta {
    padding-top: 30px;
}

.head_4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.Entr {
    padding-top: 30px;
}