body{
    margin: 0%;
}
.page{
    background-color: #E5E5E5;
    height: 3300px;
    box-sizing: border-box;
    }
.box1{
    width: 512px;
    height: 512px;
    background-color:white;
    margin: 100px 0px 0px 100px;
    display: inline-block;
}
.imgRadius{
    border-radius: 50%;
}

.flag_ua{
    margin: 0px  0px 0px 0px;
}

.glyph1{
    margin: -388px 0px 159px 50px;
}

.glyph2{
    margin: -302px 0px 58px 50px;
}

.vector1{
    margin: -447px 0px 124px 0px;
}
.vector2{
    margin: -423px 0px 148px 145px;
}
.glazki1{
    margin: -415px 0px 257px -264px;   
}

.glazki2{
    margin: -309px 0px 245px -217px;
}

.telegram1{
    margin: -395px 2px 0px 165px;
}

.telegram2{
    margin:-422px 0px 102px 118px;
}
.box2_1_black{
    width: 512px;
    height: 512px;
    background-color: black;
    margin: 100px 0px 0px 100px;
    display: inline-block;
    text-align: center;
    padding: 0% 0% 0% 0%;
    position: absolute;
    left: 1228px;
   }

.box2_2_black{
    width: 512px;
    height: 512px;
    background-color: black;
    margin: 100px 0px 0px 100px;
    display: inline-block;
    text-align: center;
    padding: 0% 0% 0% 0%;
    position: absolute;
    left: 1840px;
   }

.box2_3_black{
    width: 512px;
    height: 512px;
    background-color: black;
    margin: 100px 0px 0px 100px;
    display: inline-block;
    text-align: center;
    padding: 0% 0% 0% 0%;
    position: absolute;
    left: 2452px;
   }

.diya1{
    margin: -393px 0px 198px 92px;
} 

.diya2{
    margin: 100px 0px 0px 0px; 
}

.flagUAmini1{
    margin: 0px 80px -80px -183px;
}

.flagUAmini2{
    margin:0px 204px 198px -420px;
}

.flagUAmini3{
    margin:0px -102px 198px 97px;}





